.headerPics{
border: 1px solid #0000;
position: relative; }

#lowPoly {
border: 1px solid #0000;
background-image:url("BG4.JPG");
background-size:100% 400px;
position: relative;
width:100%;
height:400px;
z-index:1;
top: -350px;
}

.lowPoly {
width: 100%;
height: 400px;
position: relative;
z-index: 1;
top: -350px;
}

.profilePic {
width: 250px;
height: 250px;
position: relative;
z-index: 2;
left: 30px;
top: 175px;
}

.nameHeader {
position: relative;
z-index: 3;
top: -525px;
left: 300px;
color: white;
font-size: 100px;
font-family: "Monospace";
font-style: oblique;
}

.contactText {
font-family: "Monospace";
font-size: 30px;
}

.contact {
position: relative;
z-index:4;
top: -600px;
left: 300px;
}

.aboutButton:hover {
transform: scale(1.05);
background-color:#E6E6FA;
}

.aboutButton {
background-color: Transparent;
border:none;
cursor:pointer;
border-radius:25px;
}

.tabs {
position:relative;
z-index:5;
top: -1020px;
left: 800px;
}

.tabstd {
padding:20px;
}

.tabsButton {
background-color: Transparent;
border:none;
cursor:pointer;
border-radius:25px;
color: 	#DCDCDC;
font-family:"Monospace";
font-size:30px;
}

.tabsButton:hover {
color: 		#A9A9A9;
}

#personalBio {
position: relative;
top: -600px;
left: 10px;
}

.welcome {
color: #4682B4;
font-size: 50px;
font-family: "Monospace";
font-style: oblique;
}

.bio {
font-family: "Monospace";
font-size: 20px;
line-height: 2;
}
